{% extends 'base.html' %}

{% block content %}
    <!-- Products Page -->
    <div id="products">
        <div class="page-header">
            <h1><i class="fas fa-gamepad"></i> Gaming Products</h1>
            <p>Explore our complete collection of premium gaming gear</p>
        </div>

        <div class="product-img-container">
          {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" width="175">
          {% else %}
            <div class="product-no-image">
              <p style="font-size: large;">{{ product.name }} <br> (Image Coming Soon)</p>
            </div>
          {% endif %}
        </div>

        <div class="product-info">
          <p>{{ product.tagline }}</p>
          <h3>{{ product.name }}</h3>
          {% if product.discount %}
            <div class="product-price"><span id="dc-price">${{ product.price }}</span>&emsp;${{ product.sale_price }}</div>
          {% else %}
            <div class="product-price">${{ product.price }}</div>
          {% endif %}

            <form action="{% url 'add_to_cart' product.id %}" method="post" class="add-to-cart-form">
            {% csrf_token %}
            <input type="hidden" name="qty" value="1">
            <button class="add-to-cart">
                <i class="fas fa-cart-plus"></i> Add to Cart
            </button>
            </form>

        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>


{% endblock %}
